@model EasyBusProject.Models.Ticket

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Time)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Time)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumOfAvailSeats)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumOfAvailSeats)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BusName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BusName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StartFrom)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartFrom)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Destination)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Destination)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumOfSeatsOfUser)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumOfSeatsOfUser)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotalCapacity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalCapacity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Seats)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Seats)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
