@using EasyBus.Models
@model IEnumerable<EasyBus.Models.Trip>

@{
    ViewData["Title"] = "Index";
}

<h1>Trips</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvailableDays)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PickUp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DropOff)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                    @{ var lastItemIndex = item.AvailableDays.Count - 1;}
                    @foreach (var (index, days) in item.AvailableDays.Select((value, index) => (index, value)))
                    {
                        <span>@days</span>
                        @if (index != lastItemIndex)
                        {
                            <span>, </span>
                        }
                    }
                    @* @Html.DisplayFor(modelItem => item.AvailableDays) *@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bus.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PickUp.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DropOff.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
