@model EasyBus.Models.Trip

@{
    ViewData["Title"] = "ChooseTrip";
}

<h2>ChooseTrip</h2>

<div>
    <h4>Trip</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AvailableDays)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AvailableDays)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Bus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bus.Model)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Time)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Time)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PickUp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PickUp.City)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DropOff)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DropOff.City)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
